{% extends "layout.twig" %}

{% block title %}
	Edit link content
{% endblock %}

{% block content %}
	<div class="container">
		<h2 class="text-center">Edit link content</h2>
		<br/>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				{# Show messages here #}
				{% for message in app.session.getFlashBag.get('success') %}
					<div class="alert alert-success">{{ message }}</div>
				{% endfor %}

				{% for message in app.session.getFlashBag.get('warning') %}
					<div class="alert alert-warning">{{ message }}</div>
				{% endfor %}
			</div>
		</div>

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form id="form-link" method="post">
					<div class="form-group">
						<label for="keyword">Keyword</label>
						<select name="keyword" id="keyword" class="form-control">
							<option value="">-- Chọn --</option>
							<option value="OK">OK</option>
							<option value="WIN">WIN</option>
							<option value="GAMES">GAMES</option>
						</select>
						<script type="text/javascript">
							document.getElementById('keyword').value = "{{ link.keyword }}";
						</script>
					</div>
					<div class="form-group">
						<label for="link">Link</label>
						<input type="text" name="link" class="form-control" id="link" placeholder="Link"
							   value="{{ link.link }}">
					</div>
					<input type="hidden" name="id" value="{{ link.id }}"/>
					<button type="submit" class="btn btn-primary">Save</button>
					&nbsp;
					<a href="{{ baseUrl }}/links" class="btn btn-default">List links</a>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
