{% extends "layout.twig" %}

{% block title %}
	List links content
{% endblock %}

{% block content %}
	<div class="container">
		<h2 class="text-center">List links</h2>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				{# Show messages here #}
				{% for message in app.session.getFlashBag.get('success') %}
					<div class="alert alert-success">{{ message }}</div>
				{% endfor %}

				{% for message in app.session.getFlashBag.get('warning') %}
					<div class="alert alert-warning">{{ message }}</div>
				{% endfor %}
			</div>
		</div>

		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<a href="{{ baseUrl }}/links/add?keyword={{ mainKeyword }}" class="btn btn-lg btn-primary" style="margin-bottom: 30px; margin-top: 30px;">Add link</a>

				{# select box #}
				<div class="form-inline">
					<div class="form-group">
						<label for="select_keyword">Keyword</label>
						<select name="select_keyword" id="select_keyword" class="form-control">
							<option value="">-- Tất cả keyword --</option>
							<option value="GAMES">GAMES</option>
							<option value="OK">OK</option>
							<option value="WIN">WIN</option>
						</select>
					</div>
					<div class="form-group" style="margin-left: 10px;">
						<label for="select_count">Hiển thị</label>
						<select name="select_count" id="select_count" class="form-control">
							<option value="50">50</option>
							<option value="100">100</option>
							<option value="200">200</option>
							<option value="500">500</option>
							<option value="1000">1000</option>
						</select>
					</div>
				</div>
				{# end select box #}

				<h4>Có tổng số <strong>{{ count }}</strong> items</h4>
				<table class="table table-striped">
					<thead>
					<th style="width: 10%;">ID</th>
					<th style="width: 20%;">Keyword</th>
					<th style="width: 55%;">Link</th>
					<th style="width: 15%;">Actions</th>
					</thead>
					<tbody>
					{% for link in links %}
						<tr>
							<td>{{ link.id }}</td>
							<td>{{ link.keyword }}</td>
							<td class="link-content">{{ link.link }}</td>
							<td>
								<a href="{{ baseUrl }}/links/{{ link.id }}/edit">Edit</a> |
								<a href="{{ baseUrl }}/links/{{ link.id }}/delete" onclick="return confirm('Bạn có chắc muốn xóa link id: {{ link.id }}')">Delete</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>

				<div class="text-center">
					<nav aria-label="pager">
						<ul class="pagination pagination-lg">
							{# First #}
							<li {% if currentPage == 1  %} class="disabled" {% endif %}>
								<a href="{% if (currentPage != 1) %}{{ baseUrl }}/links?keyword={{ keyword }}&page=1&limit={{ limit }}{% else %}#{% endif %}" aria-label="Fist" title="First">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							{# Back #}
							<li {% if currentPage == 1  %} class="disabled" {% endif %}>
								<a href="{% if (currentPage - 1) >= 1 %}{{ baseUrl }}/links?keyword={{ keyword }}&page={{ (currentPage - 1) }}&limit={{ limit }} {% else %}#{% endif %}" title="Previous"> &larr; </a>
							</li>
							{# Next #}
							<li {% if currentPage == totalPage or totalPage <= 1 %} class="disabled" {% endif %}>
								<a href="{% if (currentPage + 1) <= totalPage %}{{ baseUrl }}/links?keyword={{ keyword }}&page={{ (currentPage + 1) }}&limit={{ limit }} {% else %}#{% endif %}" title="Next"> &rarr; </a>
							</li>
							{# Last #}
							<li {% if currentPage == totalPage or totalPage <= 1 %} class="disabled" {% endif %} >
								<a href="{% if (currentPage != totalPage and totalPage > 1) %}{{ baseUrl }}/links?keyword={{ keyword }}&page={{ totalPage }}&limit={{ limit }}{% else %}#{% endif %}" aria-label="Last" title="Last">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
